{% extends "post/base.html" %}
{% load static %}
{% block content %}
      {# relation #}{# relation #}{# relation #}{# relation #}{# relation #}{# relation #}{# relation #}{# relation #}
      <div class="single_post">
         <div class="container-fluid">
            <div class="col-md-2"></div>
            <div class="col-md-8">
               <div class="post_content text-center">
                  <p>ارتباط با ما</p>
               </div>
            </div>
         </div>
      </div>
      {# relation #}{# relation #}{# relation #}{# relation #}{# relation #}{# relation #}{# relation #}{# relation #}
      <div class="clear-fix"></div>
      <div class="bg"></div>
{% endblock %}