<div class="top-bar">
        <div class="container-fluid">
           <div class="col-md-6">
              <div class="search-btn">
                 <span><i class="fa fa-search"></i></span>
              </div>
           </div>
           <div class="col-md-6">
              <div class="top-cat-box">
                 <div class="col-md-12">
                    <div class="menu">
                       <ul>
                          <li><a href="{% url 'news:contact_us' %}">تماس با ما</a></li>
                          <li><a href="{% url 'news:post_ralation' %}">درباره ما</a></li>
                       </ul>
                    </div>
                 </div>
                 <!-- <div class="col-md-3">
                    <div class="show-cat">
                        <span>
                            دسته ها
                            <i class="fa fa-bars"></i>
                        </span>
                    </div>
                    </div> -->
              </div>
           </div>
        </div>
     </div>